<mat-tab-group dynamicHeight #tabGroup index="tabGroup.selectedIndex">
  <!-- Resident Personal data -->
  <mat-tab label="Resident info">
    <!-- Resident Personal data -->
    <mat-card>

      <form [formGroup]="residentForm">
        <div class="picture-preview">
          <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && residentForm.get('image').valid">
            <img [src]="imagePreview" [alt]="residentForm.value.firstName">
          </div>
          <div class="iconPicture">
            <input type="file" #filePicker (change)="onImagePicked($event)">
            <mat-icon matSuffix (click)="filePicker.click()">add_a_photo</mat-icon>
          </div>
        </div>
        <mat-form-field>
          <input matInput type="text" formControlName="lastName" name="Last Name" required minlength="3" placeholder="Last Name">
          <mat-error>Please enter your last name</mat-error>
          <!-- <mat-error *ngIf="name.invalid">please entered a title</mat-error> -->
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" formControlName="firstName" name="First Name" required minlength="3" placeholder="First Name">
          <mat-error>Please enter your first name</mat-error>
          <!-- <mat-error *ngIf="name.invalid">please entered a title</mat-error> -->
        </mat-form-field>

        <mat-form-field>
          <!-- <input matInput type="text" formControlName="appartmentInfo" required placeholder="Appartement"> -->
          <mat-select formControlName="appartmentInfo" required placeholder="Appartement " (selectionChange)="updateSelectedAppartment($event.value)">
            <mat-option *ngFor="let appartment of appartments" [value]="appartment.id">{{ appartment.appartmentName}}</mat-option>
          </mat-select>
          <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>  -->
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="phoneNumber" type="tel" name="phoneNumber" required minlength="3"
            placeholder="Phone Number">
          <mat-error>Please enter your phoneNumber</mat-error>
          <!-- <mat-error *ngIf="name.invalid">please entered a title</mat-error> -->
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="email" type="email" name="email" required minlength="3" placeholder="Email">
          <mat-error>Please enter the rent</mat-error>
          <!-- <mat-error *ngIf="name.invalid">please entered a title</mat-error> -->
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="dateofBirth" [matDatepicker]="dateofBirth" placeholder="Date of Birth">
          <mat-datepicker-toggle matSuffix [for]="dateofBirth"></mat-datepicker-toggle>
          <mat-datepicker #dateofBirth></mat-datepicker>
          <!-- <mat-error *ngIf="name.invalid">please entered a title</mat-error> -->
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="nationality" type="text" name="nationality" required minlength="3"
            placeholder="Nationality">
          <mat-error>Please enter the nationality</mat-error>
          <!-- <mat-error *ngIf="name.invalid">please entered a title</mat-error> -->
        </mat-form-field>
        <mat-form-field>
          <textarea matInput formControlName="residentOtherInfo" type="text" name="residentOtherInfo" minlength="3"
            placeholder="Other">  </textarea>
          <mat-error>Please enter the other data</mat-error>
          <!-- <mat-error *ngIf="name.invalid">please entered a title</mat-error> -->
        </mat-form-field>

        <mat-action-row>
          <button mat-raised-button [ngStyle]="{display:hiddenSaveButton()}" type="submit" color="accent" [disabled]="residentForm.invalid"
            (click)="onAddNewResident();
                     disabledTabInit();
                     hiddenUpdateButton();
                     hiddenSaveButton();
                     saveButtonClick('Resident saved!', 'Info');
                     tabGroup.selectedIndex = 1">
            Save</button>
          <button mat-raised-button [ngStyle]="{display:hiddenUpdateButton()}" type="submit" c olor="accent" [disabled]="residentForm.invalid"
            (click)=" onSave2(); saveButtonClick('Resident updated!', 'Info');">
            Update</button>

          <button mat-button color="primary" [disabled]="residentForm.invalid" (click)='tabGroup.selectedIndex = 1'>Next</button>
        </mat-action-row>

      </form>
    </mat-card>
    <button mat-button aria-label="Saved" class="openSnackBarCss"> </button>


  </mat-tab>
  <!-- Resident Contract information-->
  <mat-tab label="Contract Info">

    <div>
      <app-contract-info [residentId]="globalIdComponent"> </app-contract-info>

      <button mat-button color="primary" (click)='tabGroup.selectedIndex = 2'>Next</button>
      <button mat-button color="primary" (click)='tabGroup.selectedIndex = 0'>Previous</button>
    </div>
  </mat-tab>
  <!-- Resident Appartment Info-->
  <mat-tab label="Appartment Info">
    <mat-card>
      <mat-list>
        <mat-list-item> Appartment Name: {{selectedAppartment?.appartmentName}}</mat-list-item>
        <mat-divider> </mat-divider>
        <mat-list-item> Appartment Code Name: {{selectedAppartment?.appartmentCodeName}} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> Rent: {{selectedAppartment?.rent}} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Monthly Expense: {{selectedAppartment?.monthlyExpenses}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Ean Meter: {{selectedAppartment?.eanNumber}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Electricity Meter: {{selectedAppartment?.electricityMeter}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Hot Water Meter: {{selectedAppartment?.hotWaterMeter}}</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <button mat-button color="primary" (click)='tabGroup.selectedIndex = 3'>Next</button>
      <button mat-button color="primary" (click)='tabGroup.selectedIndex = 1'>Previous</button>
    </mat-card>
  </mat-tab>
  <!-- Resident Document data-->
  <mat-tab label="Document" disabled="{{disabledTab}}">
    <app-resident-files [residentIdFile]="globalIdComponent"></app-resident-files>
    <div class="buttonLastPageSetUp">
      <button mat-button color="primary" (click)='tabGroup.selectedIndex = 2'>Previous</button>
      <button mat-button color="primary" (click)='tabGroup.selectedIndex = 0'>First page</button>
      <button class="buttonSetUpLastPage" mat-raised-button color="accent" (click)=" residentDataControl();">Back to
        home</button>
    </div>
  </mat-tab>
</mat-tab-group>
