<div class="grid-container" *ngIf="residents.length > 0">
<button mat-stroked-button  disabled color="primary" class="globalCard" *ngFor="let resident of residents">
  <mat-tab-group dynamicHeight >
    <mat-tab  label="{{resident.lastName}} {{resident.firstName}}">
      <mat-card class="residentHeader">
        <mat-card-header >
          <img  mat-card-avatar class="example-header-image" [src]="resident.imagePath" [alt]="resident.lastName">
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
        </mat-card-header>
      </mat-card>
      <mat-list >
        <mat-list-item>
          <p mat-line  >Is the flat paid :<span [ngStyle]="{color: onGetColor(resident.isRentPaid)}"> {{resident.isRentPaid | questionableBoolean}}</span></p>
          <p mat-line>Room : {{resident.appartmentInfo}} </p>
          <p mat-line>Rent: {{resident.rent}} </p>
          <p mat-line>Contract End Date : {{resident.contractEndDate | date:"dd/MM/yyyy"}}  </p>
          <p mat-line>Next visit date : {{resident.nextVisitDate | date:"dd/MM/yyyy"}} </p>
        </mat-list-item>
      </mat-list>
      <mat-card-actions class="matCardActionButton">
        <button mat-button color="primary" (click)="onViewResident(resident.id)">Edit</button>
        <button mat-button color="accent" (click)="onDelete(resident.id)"> Delete</button>
      </mat-card-actions>
    </mat-tab>
    <mat-tab label="To do">
      <mat-card  class="residentHeader">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
      </mat-card>
      <mat-list>
        <mat-list-item>
          <h6 mat-line>id: {{resident.id}} </h6>
          <h6 mat-line>Install the security alarm </h6>
          <h6 mat-line>Paint the door </h6>
          <h6 mat-line>Replace the windows </h6>
          <h6 mat-line>Add water protections</h6>
        </mat-list-item>
      </mat-list>

      <mat-card-actions class="matCardActionButton">
        <button mat-button color="primary">Edit</button>
        <button mat-button color="warn"> Delete</button>
      </mat-card-actions>

    </mat-tab>
  </mat-tab-group>
  </button>
</div>

  <p class="mat-body-1" *ngIf="residents.length <= 0"> No resident added yet</p>

